<!DOCTYPE html>
<html>
<head>
  <title>Form User</title>
<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form clasa="WebApp" id="form_user">
                <span> Login User</span>
                <div>
                    <input type="text" name="name" id="name" placeholder="username" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="email@hotmail.com" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="nickname" required="required">
                </div>
                <div>
                    <input type="text" name="password" id="password" placeholder="1.3.23k" required="required">
                </div>
                <div>
                    <input type="text" name="confirm_password" id="confirm_password" placeholder="1.3.23k" required="required">
                </div>
                <a href="/login">login</a>
                <button type="submit" class="btn-webApp">Sign-up</button>
            </form>
        </div>
    </div>
    <script src="/assets/js/jquey.min.js"></script>
    <script src="/assets/js/form-user.js"></script>

</body>
</html>