<!DOCTYPE html>
<html>
<head>
  <title>WebApp</title>
<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form clasa="WebApp" id="login">
                <span> Login User</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="email@hotmail.com" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="email@hotmail.com" required="required">
                </div>
                <a href="#">Register account</a>
                <button type="submit" class="btn-webApp">Login</button>
            </form>
        </div>
    </div>
</body>
</html>